# Creado por https://www.toptal.com/developers/gitignore/api/node,python,windows,linux
# Editar en https://www.toptal.com/developers/gitignore?templates=node,python,windows,linux

### Linux ###
*~

# archivos temporales que se pueden crear si un proceso aún tiene abierto el identificador de un archivo eliminado
.fuse_hidden*

# Preferencias del directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco
.Basura-*

Los archivos .nfs se crean cuando se elimina un archivo abierto pero aún se accede a él
.nfs*

### Nodo ###
# Registros
registros
*.registro
npm-debug.log*
registro de depuración de hilo*
error de hilo.log*
lerna-debug.log*
.pnpm-debug.log*

# Informes de diagnóstico (https://nodejs.org/api/report.html)
informe.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Datos de tiempo de ejecución
pids
*.pid
*.semilla
*.pid.lock

# Directorio para bibliotecas instrumentadas generadas por jscoverage/JSCover
lib-cov

# Directorio de cobertura utilizado por herramientas como Estambul
cobertura
*.lcov

# Cobertura de pruebas de Nueva York
.nyc_output

# Almacenamiento intermedio de Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.gruñido

# Directorio de dependencias de Bower (https://bower.io/)
componentes de bower

# configuración de node-waf
.bloqueo-wscript

# Complementos binarios compilados (https://nodejs.org/api/addons.html)
compilación/lanzamiento

# Directorios de dependencia
módulos_de_nodo/
jspm_packages/

# Directorio de dependencias de Snowpack (https://snowpack.dev/)
módulos_web/

# Caché de TypeScript
*.tsbuildinfo

# Directorio de caché npm opcional
.npm

# Caché eslint opcional
.eslintcache

# Caché de estilo opcional
.stylelintcache

# Caché de micropaquetes
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Historial de REPL opcional
.historial_de_replicaciones_de_nodo

# Salida de 'npm pack'
*.tgz

# Archivo de integridad del hilo
.integridad del hilo

# archivos de variables de entorno dotenv
.env
.env.desarrollo.local
.env.prueba.local
.env.producción.local
.env.local

# caché del paquete de paquetes (https://parceljs.org/)
.cache
.paquete-caché

# Salida de la compilación de Next.js
.próximo
afuera

# Nuxt.js compilación / generación de salida
.nuxt
dist

# Archivos de Gatsby
.cache/
# Comenta en la línea pública si tu proyecto usa Gatsby y no Next.js
# https://nextjs.org/blog/next-9-1#soporte-de-directorios-públicos
# público

# Salida de compilación de vuepress
.vuepress/dist

# Directorio temporal y de caché de vuepress v2.x
.temperatura

# Caché de Docusaurus y archivos generados
.docusaurus

# Directorios sin servidor
.sin servidor/

# Caché de FuseBox
.caja de fusibles/

# Archivos locales de DynamoDB
.dynamodb/

# Archivo de puerto TernJS
.tern-puerto

# Almacena versiones de VSCode utilizadas para probar extensiones de VSCode
.vscode-prueba

# hilo v2
.yarn/caché
.hilo/desenchufado
.yarn/build-state.yml
.yarn/estado-de-instalación.gz
.pnp.*

### Parche de nodo ###
# Directorios Webpack sin servidor
.webpack/

# Caché de estilo opcional

# SvelteKit compilación / generación de salida
.svelte-kit

### Pitón ###
# Archivos DLL compilados en bytes / optimizados
__pycache__/
*.py[bacalao]
*$py.clase

# Extensiones de C
*.entonces

# Distribución / embalaje
.Pitón
construir/
huevos en desarrollo/
dist/
descargas/
huevos/
.huevos/
lib/
lib64/
regiones/
sdist/
var/
ruedas/
compartir/python-wheels/
*.egg-info/
.instalado.cfg
*.huevo
MANIFIESTO

# PyInstaller
# Generalmente, estos archivos se escriben mediante un script de Python a partir de una plantilla.
# antes de que PyInstaller construya el exe, para poder inyectarle fecha y otra información.
*.manifiesto
*.especulación

# Registros del instalador
pip-log.txt
pip-eliminar-este-directorio.txt

# Informes de pruebas unitarias/cobertura
htmlcov/
.toxic/
.nox/
.cobertura
.cobertura.*
pruebas de nariz.xml
cobertura.xml
*.cubrir
*.py,portada
.hipótesis/
.pytest_cache/
cubrir/

# Traducciones
*.mes
*.olla

# Cosas de Django:
configuración_local.py
db.sqlite3
diario db.sqlite3

# Cosas del matraz:
instancia/
.webassets-cache

# Cosas raras:
.desordenado

# Documentación de Sphinx
docs/_build/

# PyBuilder
.pybuilder/
objetivo/

# Cuaderno Jupyter
.ipynb_puntos de control

#IPython
perfil_predeterminado/
ipython_config.py

#pyenv
# Para una biblioteca o un paquete, es posible que desees ignorar estos archivos ya que el código es
# destinados a ejecutarse en múltiples entornos; de lo contrario, regístrelos en:
# .python-version

# pipenv
# Según pypa/pipenv#598, se recomienda incluir Pipfile.lock en el control de versiones.
# Sin embargo, en caso de colaboración, si tiene dependencias o dependencias específicas de la plataforma
# al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionan o no
# instalar todas las dependencias necesarias.
#Pipfile.lock

# poesía
# Similar a Pipfile.lock, generalmente se recomienda incluir poetry.lock en el control de versiones.
# Esto se recomienda especialmente para paquetes binarios para garantizar la reproducibilidad y es más
# comúnmente ignorado por las bibliotecas.
# https://python-poetry.org/docs/basic-usage/#confirmar-su-archivo-poetrylock-al-control-de-versiones
#poesía.bloqueo

#pdm
# Similar a Pipfile.lock, generalmente se recomienda incluir pdm.lock en el control de versiones.
#pdm.lock
# pdm almacena configuraciones de todo el proyecto en .pdm.toml, pero se recomienda no incluirlo
# en el control de versiones.
# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; utilizado por ejemplo en github.com/David-OConnor/pyflow y github.com/pdm-project/pdm
__pypackages__/

# Cosas de apio
horario de celerybeat
celerybeat.pid

# Archivos analizados por SageMath
*.sage.py

# Entornos
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuración del proyecto Spyder
.proyecto spyder
.proyecto espía

# Configuración del proyecto de cuerda
.proyecto de cuerda

# Documentación de mkdocs
/sitio

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Comprobador de tipo Pyre
.pira/

# analizador de tipos estáticos pytype
.pytype/

# Símbolos de depuración de Cython
depuración de cython/

#PyCharm
# La plantilla específica de JetBrains se mantiene en un JetBrains.gitignore separado que puede
# se puede encontrar en https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# y se puede agregar al gitignore global o fusionarlo en este archivo. Para una versión más nuclear
# Opción (no recomendada) puedes descomentar lo siguiente para ignorar toda la carpeta de ideas.
#.idea/

### Parche de Python ###
# Archivo de configuración local de Poetry: https://python-poetry.org/docs/configuration/#local-configuration
poesía.toml

# ruff
.ruff_cache/

# Archivos de configuración LSP
pyrightconfig.json

### Ventanas ###
# Archivos de caché de miniaturas de Windows
Thumbs.db
Thumbs.db:cifrable
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
*.volcado de pila

# Archivo de configuración de carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en recursos compartidos de archivos
$RECICLAJE.PAPELERA/

# Archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk

# Fin de https://www.toptal.com/developers/gitignore/api/node,python,windows,linux